/*
ライトレッド
#C53C4E
http://pluscolorn.sub.jp/random.php?1id=1563

ライトブルー
#ADD8E6
http://pluscolorn.sub.jp/random_c.php?1id=63

*/

img{
  max-width: 100%;
}
a{
  color: #C53C4E;
  color: #ff7585;
}
a:hover{
  opacity: 0.7;
}
.flex{
  display: flex;
}
.norap{
  white-space: nowrap;
}
.modaal-content-container{
  padding:10px;
}
.site-header{
  padding:0;
}
.site-branding{
  margin:0;
}
.site-main{
  margin-bottom: 2em;
}
.site-main > article{
  margin-bottom: 2em;
}
.site{
  margin:0;
}
.site-header-main,.site-content,.foot-sub-in{
  padding:0;
  max-width: 1000px;
  margin-left:auto;
  margin-right:auto;
}
.hissu{
  display: inline-block;
  font-size:12px;
  line-height: 18px;
  height: 18px;
  background:#FF7585;
  color: #fff;
  padding:0 5px;
  margin-left: 5px;
  border-radius: 5px;
}
fieldset{
  padding:0;
  margin:0;
  border:none;
}
.entry-content .sub_title{
  font-size: 16px;
  margin: 1em 0;
  border-left:solid 4px #fc7ba6;
  padding-left:0.5em;
}
.cf7mls_next.action-button, .cf7mls_back.action-button{
  background: #84B616;
}
/*header*/
.site-header-main{
  padding:20px 0 0;
  justify-content: space-between;
  align-items: center;
}
.site-header-main>div{
  margin-bottom: 15px;
}
.site-title img{
  width: 210px;
}
.head-nav{
 border-top:solid 1px #ccc;
 border-bottom: solid 1px #ccc;
}
.head-nav ul{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  border-left: solid 1px #ccc;
}
.head-nav ul li{
  flex:1;
  text-align: center;
  list-style: none;
  border-right: solid 1px #ccc;
}
.head-nav ul li a{
 color: #C53C4E;
 color: #ff7585;
 font-weight: bold;
}
.pc.head-nav a .on{
  display: none;
}
.pc.head-nav a:hover{
  opacity: 1;
}
.pc.head-nav a:hover .on{
  display: inline;
}
.pc.head-nav a:hover .off{
  display: none;
}
/*sp menu*/
.modaal-content-container .main-nav{
  padding:0;
  margin:auto;
  border-left:1px solid #ccc;
  border-top:1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
}
.modaal-content-container .main-nav li{
  list-style: none;
  padding:0;
  margin:0;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  width: 50%;
}
.modaal-content-container .main-nav li:nth-child(2) .on,.modaal-content-container .main-nav li:nth-child(3) .on{
  display: none;
}
.modaal-content-container .main-nav li:nth-child(1) .on,.modaal-content-container .main-nav li:nth-child(4) .on,.modaal-content-container .main-nav li:nth-child(5) .on{
  display: none;
}
/*top_content*/
.top_content{
  background:#ADD8E6;
  background:#d8f6ff;
}
.top_content_in{
  max-width: 1200px;
  margin:0 auto;
}
.top_content_in img{
  max-width:104%;
  margin-left:-4%;
}
.top_head_b{
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin:20px auto 0;
}
.top_head_b > div{
  width: 49%;
  margin-bottom: 0;
}
@media screen and (max-width: 480px) {
  .top_head_b{
  	display: block;
  }
  .top_head_b > div{
  	width: 100%;
  	margin-bottom: 10px;
  }
}

/*head_btn*/
.head_btn{
  flex-wrap: wrap;
}

.head_btn>a,.head_btn>img{
  display: inline-block;
  margin-left: 5px;
}
.head_btn table{
  display: inline;
  border:none;
  width: auto;
  margin:0;
  padding:0;
}
@media screen and (max-width: 56.875em) {
  .head_btn table{
    display: none;
  }
}
.head_btn table td,.head_btn table tr{
  padding:0;
  margin:0;
  border:none;
}
.head_btn img{
  height: 62px;
}
/*sp*/
.sp{
  display: none;
}
@media screen and (max-width: 480px) {
  .sp{
    display:block;
  }
  .pc{
    display: none;
  }
}
/*sp_header*/
#sp_header{
  padding-top: 65px;
}
.fix-nav{
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top:0;
  height: 60px;
  padding:8px 0 12px;
  background:rgba(255, 255, 255, 0.8);
  border-bottom:solid 1px #dfdfdf;
  z-index: 5;
}
.fix-nav .sp-logo,#sp_header .sp-logo img{
  height: 40px;
}
.sp_nav_btn a{
  display: block;
  width: 40px;
  height: 40px;
  padding:7px;
  border-radius: 5px;
}
.sp_nav_btn a img{
  color: #fff;
}
.sp_tel_btn a{
  background: #4CC6EB;
  margin:0 3px;
}
.sp_menu_btn a{
  background: #f43548;
  margin:0 3px;
}
/*category*/
.page-header{
  border-color: #444;
  margin-bottom: 1.5em;
  padding-top: 1em
}
.page-title{
  color: #444;
}
.category article{
  margin-left:1em;
}
.entry-title a{
  color: #fff;
}
.entry-title a:hover{
  color: #fff;
  opacity: 0.8;
}
.pagination{
  border-color: #444;
}
.pagination::before, .pagination::after,.pagination .prev, .pagination .next{
  background:#444;
}
.pagination .prev:hover, .pagination .next:hover{
  background:#ff7585;
}
/*content*/
.site-content{
  padding-top:20px;
}

.entry-title{
  /*background: #f47702;
  background: -moz-linear-gradient(top, #f47702 0%, #ff353c 59%);
  background: -webkit-linear-gradient(top, #f47702 0%,#ff353c 59%);
  background: linear-gradient(to bottom, #f47702 0%,#ff353c 59%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47702', endColorstr='#ff353c',GradientType=0 );*/
  background: #C53C4E;
  background: #ff7585;
  color:#fff;
  padding:5px 8px;
  padding-left: 13px;
  font-size: 120%;
  position: relative;
  border-bottom:6px double #fff;
}
.entry-title::before{
  content: "";
  position: absolute;
  width: 2px;
  height:110%;
  height: calc(100% + 6px);
  left: 2px;
  top:0;
  background:#fff;
}
.entry-content .date{
  color: #777;
  font-size: 95%;
}
/*side*/
.sidebar{
  padding:0;
  margin-bottom: 2em;
}
.side_container{
  margin-bottom:15px;
}
.side_banner a{
  display: block;
  margin-bottom: 15px;
}
/*相場検索*/
.souba_container{
  border:solid 5px #FF69B4;
  border:solid 5px #65d1f2;
  background: #FFF0F5;
  background: #edfbff;
}
.souba_container h3{
  color:#FF69B4;
  margin-bottom: 10px;
}
.souba_container h4,.souba_container>div{
  margin:0 10px;
}
.souba_container h4{
  line-height: 1.2;
  margin-bottom: 5px;
}
.souba_container>div{
  margin-bottom: 15px;
}
.souba_container button{
  background: #f43548;
}
.souba_container button:hover{
  background: #821d26;
}
.souba_container h4 span{
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #65D1F2;
  color: #fff;
  margin-right: 3px;
}
.souba_container .chui{
  font-size: 90%;
  color: #888;
}

.s-form {
  justify-content: space-between;
}
.s-form input{
  width: calc(100% - 62px);
  height: 24px;
  padding:0 5px;
  line-height: 24px;
  font-weight: normal;
}
.s-form button{
  width:60px;
  height: 24px;
  padding:0;
  font-size: 12px;
  text-align: center;
}
.s-money .doll{
  display: none;
}

.s-unit{
  justify-content: space-between;
}
.s-unit input{
  display: none;
}
.s-unit label{
  width: 48%;
}
.s-unit label span{
  display: inline-block;
  background-color: #ddd;
  border-radius: 5px;
  border:solid 1px #bbb;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #999;
}
.s-unit input[type=radio]:checked + span {
  background-color: #FF7585;
  border-color:#FF7585;
  color: white;
}
.course_y .chui{
  display: none;
}
@media screen and (max-width: 56.875em) {
  .calc_pc{
    display: none;
  }
  .side_banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .side_banner a{
    display: block;
    width: 48%;
  }
}
@media screen and (min-width: 56.875em) {
  .content-area{
    width: calc(100% - 240px);
  }
  .sidebar {
  	margin-left: calc(100% - 220px);
  	width: 220px;
  }
  .calc_sp{
    display: none;
  }
}
.s-money label{
  position: relative;
  height: 40px;
  display: block;
  margin-bottom: 10px;
}
.s-money input{
  line-height: 30px;
  /*height: 40px;*/
  padding:3px;
  padding-right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  width: 100%;
}
.s-money input::-webkit-input-placeholder {
    padding-top: 0.1em;
}
.s-money label span{
  position: absolute;
  right: 5px;
  top: 6px;
  font-size: 18px;
  font-weight: bold;
}
.s-money button{
  width: 100%;
}


.souba_results{
  display: none;
}
.souba_container .souba_results h4{
  margin:0;
  padding:0 10px;
  display: inline-block;
  background: #65d1f2;
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.results,.nomoney{
  margin-top: -2px;
  padding:0.5em;
  border:solid 2px #65d1f2;
  background:#fff;
}
.results .flex{
  justify-content: space-between;
}
.results h5{
  font-size: 1em;
  border-bottom: dotted 1px #777;
  margin-bottom: 0.2em;
}
.results .course_a h5{
  color: #E83137;
}
.results .course_b h5{
  color: #0063D2;
}
.results .course_c h5{
  color: #F4AE01;
}
.results .course_y h5{
  color: #85B716;
}

.results p{
  margin-bottom: 0.3em;
}
.results section{
  margin-bottom: 0.8em;
}
/*footer*/
.foot-sub .in{
  max-width: 1000px;
  margin:0 auto;
}
.foot-sub h4{
  color: #fff;
  background:#4CC6EB;
  display: inline-block;
  padding:0 10px;
  position: relative;
  height: 30px;
  line-height: 30px;
}
.foot-sub h4::after{
  position: absolute;
  content:"";
  width: 20px;
  height: 30px;
  border-left: solid 10px #4CC6EB;
  border-bottom: solid 15px #4CC6EB;
  border-top:solid 15px transparent;
  border-right:solid 10px transparent;
  right: -20px;
  bottom: 0;
}
.foot-sub2{
  margin-top: -10px;
  background:#fff2f3;
}
.foot-sub2 .in{
  padding:30px 10px 20px;
}
.foot-sub .step{
  justify-content: space-between;
  flex-wrap: wrap;
}
.foot-sub .step div{
  display: inline-block;
  width: 24%;
  margin-bottom: 10px;
}
.foot-sub .step .on{
  display: none;
}
.foot-sub .step a:hover{
  opacity: 1;
}
.foot-sub .step a:hover .on{
  display: inline-block;
}
.foot-sub .step a:hover .off{
  display: none;
}
.foot-sub .step h5{
  font-weight: normal;
  color: #555;
  margin-top: 5px;
  font-size: 14px;
  text-indent: -1.3em;
  padding-left: 1.3em;
}
.foot-sub .step h5 span{
  font-size: 80%;
  color: inherit;
}
@media screen and (max-width: 768px) {
  .foot-sub .step div{
    width: 48%;
  }
}
@media screen and (max-width: 480px) {
  .foot-sub .step div{
    width: 100%;
  }
}
footer article.nemu{
  max-width: 1000px;
  padding:2em 10px;
  margin:0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer section{
  width: 24%;
}
footer section h3{
  font-size: 13px;
  border-bottom: solid 1px #ccc;
  padding-bottom: 0.4em;
  margin-bottom: 0.5em;
}
footer section p{
  font-size: 12px;
  position: relative;
  padding-left:8px;
}
footer section p::before{
  content: "";
  position: absolute;
  left:0;
  top: 4.5px;
  display: block;
  width: 0;
  height: 0;
  border:solid 5px transparent;
  border-left-color:#FF7585;
}
@media screen and (max-width: 768px) {
  footer section{
    width: 48%;
  }
}
@media screen and (max-width: 480px) {
  footer section{
    width: 100%;
  }
}
footer .foot-nav{
  background:#ECEFE4;
}
footer .foot-nav div{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 8px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .foot-nav ul{
  padding:0;
  margin:0;
  display: flex;
  flex-wrap: wrap;
}
footer .foot-nav li{
  padding:0;
  list-style: none;
}
footer .foot-nav li a{
  padding:0 15px;
  font-size: 12.5px;
  line-height: 1;
  border-left:solid 1px #999;
}
footer a{
  color: #555;
}
footer a:hover{
  color: #ff7585;
  opacity: 1;
  text-decoration: underline;
}
footer .copy{
  padding:0;
  margin:0;
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  footer .copy{
    margin-top: 1em;
    width:100%;
    text-align:center;
  }
}
/*home*/
.top_container{
  margin-bottom:30px;
}
.j_item a{
  display: block;
  padding:0 8px;
  color:#222;
}
.j_item img{
  max-width: 100%;
  width: 100%;
  height: 170px;
   object-fit: cover;
   border:solid 5px #ddd;
   margin-bottom: 10px;
}
.j_item h3{
  height: 88px;
  line-height: 1.3;
}
.j_item h3,.j_item p{
  font-size: 12.5px;
  margin:0;
}
.j_item p{
  border-top: dotted 1px #aaa;
  line-height: 2.5;
}
.j_item p span{
  font-weight: bold;
  font-size: 120%;
}
.j_item p.j_u_price span{
  color: red;
}
.j_item p.j_course{
  font-size: 12px;
}
.slick{
  position: relative;
  padding:0 15px;
}
.slick .prev,.slick .next{
  position: absolute;
  height: 90%;
  width: 15px;
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border:solid 1px #aaa;
}
.slick .prev{
  top: 0;
  left: 0;
}
.slick .next{
  right: 0;
  top: 0;
}
.slick .prev span{
  transform: rotate(-90deg);
  color: #FF7585;
}
.slick .next span{
  transform: rotate(90deg);
  color: #FF7585;
}
/*top　お知らせ*/
.top_news ul,.top_news li{
  padding:0;
  margin:0;
  list-style:none;
}
.top_news ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.top_news li{
  width: 100%;
  padding-bottom: 5px;
}
@media screen and (min-width: 480px) {
  .top_news li{
    width: 49%;
  }
}

.top_news li p{
  position: relative;
  padding-left: 100px;
  margin-bottom: 0;
}
.top_news li span.date{
  position: absolute;
  top:0;
  left: 0;
  display: inline-block;
  width: 90px;
  line-height: 20px;
  height: 20px;
  padding:0;
  font-size: 85%;
  text-align: center;
}
/*first*/
.first .flex{
  flex-wrap: wrap;
  justify-content: space-between;
}
.first .flex>a{
  width: 48%;
  max-width: 450px;
  margin-bottom: 20px;
}
/*system*/
.system section.course{
  margin-bottom: 3em;
}
.system table.mini{
  max-width: 100%;
  width: auto;
}
.system table.mini th span{
  font-size: 85%;
  white-space: nowrap;
}
.system table.mini td span.urubei{
  font-weight: bold;
  color: #f43548;
}
.charge .flex{
  flex-wrap: wrap;
}
.charge .flex span+span{
  padding-left: 0.5em;
}
.charge caption{
  text-align: center;
  font-weight: bold;
  padding:1em 0.5em;
  font-size: 16px;
}
.course_a caption{
  background: #FFA2C1;
}
.course_b caption{
  background: #90C6FE;
}
.course_c caption{
  background: #EDC259;
}
.course_y caption{
  background: #BCDA7A;
}
.course_a h3{
  color: #E43137;
}
.course_b h3{
  color: #0063D2;
}
.course_c h3{
  color: #F4AE01;
}
.course_y h3{
  color: #86B916;
}
.system .course_y .chui{
  display: block;
}
.system .chui p{
  color: #F43548;
  line-height: 1.2;
  font-size: 95%;
}
.system .container{
  margin-bottom: 2em;
}
.system .container h3{
  font-size: 15px;
  background: #444;
  color: #fff;
  border-bottom:double 3px #fff;
  line-height: 1;
  padding:8px;
  padding-left: 0.8em;
  margin-bottom: 0.8em;
}
.system .caution p{
  color: #F43548;
  padding-left: 0.5em;
  line-height: 1.5;
}
/*order*/
.course span.wpcf7-list-item label{
display:flex;
}
.course .wpcf7-radio{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.course .wpcf7-radio .wpcf7-list-item{
  box-sizing: border-box;
  width: 48%;
  margin:0;
  margin-bottom: 10px;
  border:solid 1px #999;
  padding:5px;
}
#yesno{
  display:inline;
}
.yesno_btn {
  background:#4CC6EB;
  color: #fff;
  border-radius: 3px;
  border:solid 1px #0f8daf;
  padding:8px 10px;
  font-weight: bold;
  display: inline-block;
  margin-top: 5px;
}

@media screen and (max-width: 480px) {
    .course .wpcf7-radio .wpcf7-list-item{
      width: 100%;
    }
}
/*発送方法選択*/
.hassou .wpcf7-radio>span{
  display: block;
}
#hasso-chaku .hasso_anker{
  padding:5px 8px;
  background:#FF7585;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
}
#hasso-ji .jusho{
  padding:10px;
  border:solid 2px #555;
  display: inline-block;
}

/*最大お預かり期間終了後*/
.finish .wpcf7-list-item,.sending .wpcf7-list-item>label{
  display: block;
}

table.b-detail tr td:first-child,table.c-detail tr td:first-child{
  width: 42px;
}
table.b-detail tr td:nth-child(2),table.c-detail tr td:nth-child(2){
  width: 80px;
}
/*question*/
.question dt{
  background:#ffedee;
  background:#fff4f5;
  color: #f43548;
  padding:5px;
  font-weight: normal;
}
.question dt::before{
  content:"Q";
  margin-right: 5px;
  display: inline-block;
  color:#fff;
  width: 1.5em;
  text-align: center;
  background: #FF7585;
}
.question dd{
  position: relative;
  padding:5px;
  padding-left: 2.2em;
}
.question dd::before{
  content:"A";
  position: absolute;
  left:5px;
  color:#fff;
  width: 1.5em;
  text-align: center;
  background: #65D1F2;
}
.question .container{
  border:solid 1px #ccc;
  margin-bottom: 1.5em;
}
.question .container h3{
  background: #23282D;
  background:#8AC114;
  background:#999;
  color: #fff;
  padding:5px 8px;
}
.question dl{
  padding:5px;
}
.q-menu{
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2em;
}
.q-menu a{
  width: 48%;
  display: block;
  border:solid 1px #FF7585;
  color: #FF7585;
  text-align: center;
  padding:5px;
  margin-bottom: 0.8em;
  font-weight: bold;
  border-radius: 5px;
}
.q-menu a:hover{
  opacity: 1;
  background-color: #FF7585;
  color: #fff;
}
.question a.link{
  border:solid 1px #65d1f2;
  background: #65d1f2;
  color: #fff;
}
.q-menu a.link:hover{
  background-color: #EDFBFF;
  color: #4CC6EB;
}
/*reason*/
.reason section{
  margin-bottom: 2em;
}
.reason h2{
  margin-bottom: 0.3em;
}
.reason section div{
  border:solid 2px #ffc338;
  border-radius: 3px;
  padding:10px;
  padding-top: 2em;
  margin-top:-2em;
  background:#fff6e5;
}
.reason section img{
  margin-left: 0.4em;
}
.reason p{
  margin-bottom: 0.5em;
}
.reason a{
  display: inline-block;
  line-height: 3em;
  height: 3em;
  padding:0 2em;
  background-color: #4CC6EB;
  color: #fff;
  font-weight: bold;
  position: relative;
}
.reason a::after{
  content: "";
  border:solid 0.5em transparent;
  border-left-color: #fff;
  position: absolute;
  right: 4px;
  bottom: 1em;
}

.reason .ouction div img,.reason .hako div img{
  float:right;
  width: 20%;
  max-width: 150px;
}
.reason .medal div img{
  float:right;
  width: 20%;
  max-width: 80px;
}
.reason .ouction div::after,.reason .hako div::after,.reason .medal div::after{
  content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
/*jisseki*/
section.jisseki{
  max-width: 650px;
  width:95%;
  margin:0 auto;
}
.jisseki_img{
  padding:10px;
  border:solid 1px #ccc;
  border-bottom: none;
  text-align: center;
}
section.jisseki h3{
  color: #4CC6EB;
}
section.jisseki th{
  width: 80px;
  text-align: center;
}

.post .entry-title{
  margin-bottom: 0;
}
/**/
caption{
  background:#444444;
  color: #fff;
  padding-left: 1em;
}
table{
  width: 100%;
}
th{
  background-color: #F5F5F5;
  font-weight: normal;
}
/**/
.page,.post{
  border:solid 1px #ccc;
  padding:2px;
}
.entry-content{
  padding:0.5em;
}
.chushaku{
  font-size: 90%;
  color: #666;
}
/*flow*/
.flow section{
  border:double 3px #FF7585;
  border:double 3px #666;
  padding:10px;
  background:#fffaf2;
}
.flow .step{
  display: flex;
  justify-content: space-between;
  border-bottom:solid 1px #666;
  margin-bottom: 1em;
  flex-wrap: wrap;
}
.flow .step p{
  margin-bottom: 0.2em;
}
.flow .step p span{
  padding:5px 8px;
  font-weight: bold;
  border-radius: 3px;
}
.flow .step p span:first-child{
  background:#86B916;
  border:solid 1px #86B916;
  color:#fff;
  display: inline-block;
}
.flow .step p span:nth-child(2){
  border:solid 1px #f28a02;
  margin-left: 0.3em;
  background:#fff;
  color: #f28a02;
  display: inline-block;
}
.flow h2{
  color: #444;
}
.flow h2::first-letter{
  background:#FF7585;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding:0 0.4em;
}
.flow h3{
  font-size: 16px;
  color: #11afdb;
  margin-bottom: 1em;
}
.flow .ico{
  background:#4CC6EB;
  background:#11afdb;
  padding:3px;
  border-radius: 5px;
  width: 30px;
  margin-right: 0.5em;
}
.flow .step1 .flex{
  justify-content: space-between;
  flex-wrap: wrap;
}
a.btn{
	padding: 5px 8px;
	background: #FF7585;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
  display: inline-block;
}
.flow .indent{
  padding-left: 3em;
}
.flow .waku{
  border:solid 3px #666;
  padding:0.5em;
  margin-left: 3em
}
@media screen and (max-width: 480px) {
  a.btn{
    margin-bottom:3px;
  }
  .flow .indent{
    padding-left: 1em;
  }
  .flow .waku{
    margin-left: 1em
  }
}

.step3 .flex{
  justify-content: space-between;
  flex-wrap: wrap;
}
.step3 li{
  list-style: none;
  width: 33%;
}
.arrow{
  width: 120px;
  height:50px;
  margin:25px auto 0;
  border-top:solid 25px #f4ae01;
  border-bottom:solid 25px transparent;
  border-left:solid 60px transparent;
  border-right:solid 60px transparent;
}
/*ebay*/
.ebay section{
  margin-bottom: 2em;
}
.entry-content .ebay section .sub_title{
  margin-bottom: 0.8em;
}
