.login h1 a{
  background:url("../images/urubei_logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 320px;
  height: 139px;
}
body{
  background:url("../images/login-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.login #backtoblog a, .login #nav a{
  color: #fff;
}
